<div class="main-nav nav d-flex justify-content-sm-start justify-content-center">
    <a class="nav-link border-bottom border-primary fw-bold" href="/">Home</a>
    <a class="nav-link border-bottom border-primary fw-bold" href="#">Page1</a>
    <a class="nav-link border-bottom border-primary fw-bold" href="#">Page2</a>
    <a class="nav-link border-bottom border-primary fw-bold" href="#">About Us</a>
</div>