<!-- <div class="main-nav nav d-flex justify-content-sm-start justify-content-center">
    <a class="nav-link border-bottom border-primary fw-bold" href="/">Home</a>
    <a class="nav-link border-bottom border-primary fw-bold" href="#" data-bs-toggle="popover" data-bs-placement="bottom" title="Not ready yet..." data-bs-content="Coming soon...">Portfolio</a>
    <a class="nav-link border-bottom border-primary fw-bold" href="#">About Us</a>
</div> -->

<div class="container-fluid main-nav bg-primary">
    <div class="row px-5">
        <div class="col-md-6 d-flex justify-content-center justify-content-md-start align-items-center nav-logo">
            <a href="/" style="text-decoration: none;"><h1 class="text-start text-light">JSMETHOD</h1></a>
        </div>
        <div style="padding-left: 12px;" class="col-md-6 nav justify-content-center justify-content-md-end align-items-center nav-buttons">
            <a class="nav-link fw-bold text-light" href="/">Home</a>
            <a class="nav-link fw-bold text-light" href="#" data-bs-toggle="popover" data-bs-placement="bottom" title="Not ready yet..." data-bs-content="Coming soon...">Portfolio</a>
            <a class="nav-link fw-bold text-light" href="#">About Us</a>
        </div>
    </div>
</div>