<div class="main-nav nav d-flex justify-content-sm-start justify-content-center">
    <a class="nav-link border-bottom border-primary fw-bold" href="/">Home</a>
    <a class="nav-link border-bottom border-primary fw-bold" href="#" data-bs-toggle="popover" data-bs-placement="bottom" title="Not ready yet..." data-bs-content="Coming soon...">Portfolio</a>
    <a class="nav-link border-bottom border-primary fw-bold" href="#">About Us</a>
</div>