<%- include('./partials/_head') %>
<body class="bg-light">
    <%- include('./partials/_navbar') %>
    <div class="container my-3">
        <div class="card">
            <div class="card-body">
                <img style="width: 150px;" src="images/Kot.png" alt="" class="rounded-pill d-block mx-auto">
                <h3 class="mt-2 lead text-center">Hi, my name is vlader. I'm coding some stuff here and there...</h3>
                <p class="lead text-center">I like Javascript, both back-end and front-end. In free time i'm usually learning node.js environment.</p>
            </div>
            <div class="d-flex justify-content-center contact-bar bg-primary">
                <a href="#" class="mx-2"><img data-bs-toggle="popover" data-bs-placement="bottom" title="Not ready yet..." data-bs-content="Coming soon..." style="width: 60px;" src="images/icons8-mail-120.png"/></a>
                <a target="_blank" href="https://github.com/AlienDance" class="mx-2"><img style="width: 60px;" src="images/icons8-github-60.png"/></a>
            </div>
        </div>
    </div>
    <%- include('./partials/_foot') %>
    <script>
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
          return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
</body>
</html>