/* main navbar */
.nav-buttons > a:hover {
    text-decoration: underline solid 2px rgb(248,249,250);
    text-underline-offset: 4px;
}

.contact-bar > a > img {
    width: 50px;
}

.tech-bar > div > img {
    width: 70px;
    margin: 0px 10px;
}

.popover-body > ul > li a {
    text-decoration: none;
    font-size: large;
    border-bottom: 2px solid;
}
