<div class="container-fluid main-navbar fixed-top border-bottom border-light">
    <div class="row">
        <div class="col-4 d-flex">
                <a class="eshop-main-link text-light" href="/landing"><h1  class="display-5">SOMETHING</h1></a>
        </div>
        <div class="col-8 d-flex justify-content-sm-end justify-content-center align-items-center">
            <div class="nav">
                <a class="nav-link lead text-light" href="#home">Home</a>
                <a class="nav-link lead text-light" href="#about">About Us</a>
                <a class="nav-link lead text-light" href="#gallery">Gallery</a>
                <a class="nav-link lead text-light" href="#contacts">Contacts</a>
            </div>
        </div>
    </div>
</div>